## Importing the Libraries

In [1]:
import pandas as pd
import numpy as np

## Reading the Dataset

In [2]:
df = pd.read_csv(r'C:\Users\User\Documents\Projects\NLP Projects\Twitter Tweets\Twitter Tweets Dataset.csv')
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

## Treating Null Values

### Checking for the Null Values

In [3]:
df[df['selected_text'].isnull()==True]

         textID text selected_text sentiment
314  fdb77c3752  NaN           NaN   neutral

### Here we are dropping the null value rows because the number of null value rows are very less compared to the entire dataset

In [4]:
df.drop(314,inplace=True)

In [5]:
sum(df['selected_text'].isnull())

0

## Data Preprocessing

### Train Test Split

In [6]:
X=df['selected_text']
y=df['sentiment']
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
train_sentences,test_sentences,train_labels,test_labels=train_test_split(X,y,test_size=0.2,random_state=42)

In [7]:
print(f'Total training samples :{train_sentences.shape}')
print("\n")
print(f'Total training labels {train_labels.shape}')
print("\n")
print(f'Total test samples:{test_sentences.shape}')
print("\n")
print(f'Total test labels {test_labels.shape}')

Total training samples :(21984,)


Total training labels (21984,)


Total test samples:(5496,)


Total test labels (5496,)

## Training the Model Using Naive Bayes Classifier

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
model =Pipeline([('tfidf_vectorizer',TfidfVectorizer(lowercase = True,
                                                     stop_words = 'english',
                                                    analyzer = 'word')),
                 
                 ('naive_bayes', MultinomialNB())])


model.fit(train_sentences, train_labels)

Pipeline(steps=[('tfidf_vectorizer', TfidfVectorizer(stop_words='english')),
                ('naive_bayes', MultinomialNB())])

## Model Accuracy Score

In [9]:
accuracy=model.score(test_sentences,test_labels)
print(f'model_accuracy:{accuracy}')

model_accuracy:0.7771106259097526

In [10]:
model_preds=model.predict(test_sentences)
from sklearn.metrics import accuracy_score, precision_recall_fscore_support
def calculate_results(y_true, y_pred):
    model_accuracy = accuracy_score(y_true, y_pred) * 100
    model_precision, model_recall, model_f1, _ = precision_recall_fscore_support(y_true, y_pred, average="weighted")
    model_results = {"accuracy": model_accuracy,
                  "precision": model_precision,
                  "recall": model_recall,
                  "f1": model_f1}
    return model_results
calculate_results(y_true=test_labels,y_pred=model_preds)

{'accuracy': 77.71106259097526,
 'precision': 0.8032156858461,
 'recall': 0.7771106259097526,
 'f1': 0.7742187576423855}